services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: simple-landing-page:latest
    container_name: landing_page
    ports:
      - "8080:8080"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/"]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3