apiVersion: apps/v1
kind: Deployment
metadata:
  name: landing-page-deployment
spec:
  template:
    spec:
      containers:
        - name: landing-page
          resources:
            requests:
              memory: 128Mi
              cpu: 50m
            limits:
              memory: 512Mi
              cpu: 500m